
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Space+Grotesk:wght@700&family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



#logo-container {
    
    width: 360px;
    height: 240px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#logo-container .pic{
    margin-right:200px;
}


#logo-container .pic:last-child{
    margin-right:0;
}

body{

    background-color: white;
    margin:1em;
}
#logo{
    margin-top: 100px;
    height: 240px;
    align-self: center;
}

#boat{
    height: 500px;
    border-radius: 10px;
    width:auto;
}

.desc{
    font-size: medium;
}
.textcont{
    margin-top: 100px;
    margin-left: 10px;
    width:300px;
    height:50px;
    overflow-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-family: 'Special Elite', system-ui;
}


.headings{
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-size: xx-large;
    margin-top:5vh;
    margin-left:20%
}

.text{
    
    font-family:'Ubuntu',system-ui;
    font-size: large;
    
    display: flex;
    justify-content: center;
    margin-top:5vh;
    margin-left: 20%;
    margin-right: 20%;
}

.holder{
    margin-left: 20%;
    margin-right:20%;
    margin-top:100px;
    height: 60vh;
}

.navbar {
    position: fixed;
    width:60vh;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    z-index: 9999;
    display: flex; /* Add this */
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    
}
.navbar a {
    color:#23bbad;
    text-decoration: none;
    margin-right: 20px;
}
.navbar a.selected {
    color: #f92672;
}
.navbar a:hover {
    color: #f92672;
}

.lnkd img{
    margin-top: 10px;
    margin-left:10px;
    height: 50px;
}

#profile{
    text-align: center;
    margin-top:5vh;
}

#profpic{
    
    height: 50vh;
    border-radius: 20px;
}